.scrollmap .marker.marker-navi {
  z-index: 14;

  &.navigation-marker {
    background: var(--background-color-selected);
  }

  &.navigation-marker-5 {
    background: var(--ui-site-color-5);
  }

  &.navigation-marker-4 {
    background: var(--ui-site-color-4);
  }

  &.navigation-marker-3 {
    background: var(--ui-site-color-3);
  }

  &.navigation-marker-2 {
    background: var(--ui-site-color-2);
  }

  &.navigation-marker-1 {
    background: var(--ui-site-color-1);
  }
}
